

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;

  /* Estilo específico do botão secundário */
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}